# Data Science Tools and Ecosystem

## Author
Khalid Thwiny

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists
* Demonstration of Tables in Jupyter Notebooks using Markdown
* Demonstration of using H3 heading Jupyter Notebooks with Markdown
* Demonstration of code execution (in this case some simple arithmetic expressions) with commented text

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:<br>
1. Pandas
2. TensorFlow
3. NumPy
4. SciPy

| **Data Science Tools** |
|------------------------|
| JupyterLab             |
| Spyde                  |
| PyCharm                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335